.nav-links a {
  transition: color 0.3s;
}
.nav-links a::after {
  content: "";
  width: 100%;

  height: 0.1875rem;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}
html {
  scroll-behavior: smooth;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; /* مهم */
  width: 0%;
  height: 3px;
  background-color: red;
  transform: scaleX(0);
  /* transform-origin: right; */
  transition: transform 0.3s ease;
}

.nav-links a.active::after {
  transform: scaleX(1);
  /* transform-origin: left; */
  width: 100%;
}
.button_filter button.active {
  background-color: #7163f2;
}
.portfolio-item {
  display: none;
}

.portfolio-item.active {
  display: block; /* أو flex / grid حسب التصميم */
}
